header{
    margin-bottom: 20px;
    margin-top: 40px;
}

.logo {
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    height: auto;
    width: 100%;    
}
.logo a {
    font-size: 100px;

}


nav ul {
    margin: 0;
    padding:0;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

nav li {
    display: inline-block;
    padding-top: 20px;
    margin-left: 70px;
    position: relative;
}
nav li:first-child{
    margin-left:50px;
}

nav li:last-child{
    float: right;
    margin-right: 20px;
}

nav a {
    color: #444;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover{
    color: #000;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color:#444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 100ms;
}

nav a:hover::before{
    width:100%;
}

.another_page{
    float: right;
    margin: 0;
}

body{
    line-height: 180%;
    font-size: 11px;
}

.container{
    width: 70%;
    height: auto;
}





/* Slideshow */ 

.slideshow{
    background: #000;
    height: 350px;
    min-width: 960px;
    overflow:hidden;
    position: relative;
    margin-top: 50px;
    border: 1px solid #ddd;
}
.slideshow_slides{
    position: absolute;
    width: 100%;
    height: 100%;
}

.slideshow_slides a{
    position: absolute;
    width: 70%;
    height: 100%;
    text-align: center;
}

.slideshow_nav a{
    width: 71px;
    height: 71px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translateY(-50%);
    background: url(../image/sprites.png) no-repeat;
    text-indent: -9999em;
}
.slideshow_nav a.disabled{display:none;}

.slideshow_nav a.prev{
    background-position: 0px -20px;
    margin-left: -480px;
}
.slideshow_nav a.next{
    background-position: -81px -20px;
    margin-left: 409px;
}
.indicator{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
.indicator a {
    width:8px;
    height:8px;
    margin: 0 5px;
    background:url(../image/sprites.png) no-repeat -114px -4px;
    text-indent: -9999em;
}

.indicator a.active{
    background-position: -134px -4px;
}

/* object-image */

.arrival_image{
    margin-top: 30px;
}
.arrival_image ul li{  
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
  
}
.arrival_image ul li img {
    width:500px;
    
}



/* About us */



.aboutus_container{
    text-align: center;
}

.aboutus_container h2 {
   
    font-family:'Noto Serif KR', serif;

}

.aboutus_container .aboutus_image img{
    width:80%;
    height: 30%;
}

/* Oneday Class */

.onedayclass_container{
    text-align: center;
    
}
.explan_explan{
    height: 200px;
}

.onedayclass_container h1{
    margin : 60px auto;
    font-size: 5em;
    font-family: 'Do Hyeon', sans-serif;
}
/* .bigPictureWrapper {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top:20%;
    width:70%;
    height:100%;
    background-color: gray; 
    z-index: 100;
    background:rgba(255,255,255,0.3);
}
.bigPicture{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigPicture img {
    margin: 0 auto;
    width: 600px;
} */

.pictures{
    width: 70%;
    margin: 0px auto;
    /* border: 1px solid #ddd; */
}

.pictures>img{
    width: 80px;
    height: 80px;
    transform: scale(1);
    -webkit-transiteion:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}

/* .pictures>img:nth-child(3){transform: rotate(0deg);}
.pictures>img:nth-child(4){transform: rotate(0deg);}
.pictures>img:nth-child(5){transform: rotate(0deg);}
.pictures>img:nth-child(6){transform: rotate(0deg);}
.pictures>img:nth-child(9){transform: rotate(0deg);}
.pictures>img:nth-child(35){transform: rotate(0deg);} */

/*사진 돌아가는거 orientation 잡기 */
.pictures img:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);   
    -o-transform:scale(1.1);
    transform:scale(1.1);
}

.ondayclass_explan .class_procedure {
    margin: 80px auto;
}

.ondayclass_explan h2, .onedayclass_map h2, .onedayclass_schedule h2{
    font-size: 3em;
    font-family: 'Do Hyeon', sans-serif;
}

.onedayclass_schedule img {
    width: 80%;
}
.onedayclass_schedule .schedule_explain{
   height: 200px;
}

/* scroll trigger */

.animateOut {
    opacity: 0;
    transition: opacity 1s ease
  }
  .animateIn{
      opacity: 1;
      transition: opacity 1s ease;
  }

  /* onedayclass_map */

  .onedayclass_map .map_naver img{
      width: 70%;
      border:1px solid #ddd;
  }

  /* footer */
  
footer {
    margin-top: 80px;
    border-top: 1px solid #000;
    padding-top: 70px;
    padding-bottom: 130px;
    line-height: 20px;
    text-transform: uppercase;
}
.footer_container ul {
display: inline-block;
}

.footer_container .shop_pre{
    float: left;
    margin-left: 30px;
    
}

.footer_container .shop_info{
    margin-left: 80px;
}

.footer_container .footer_link{
    float: right;
}
.footer_container .footer_link a{
    color: #000;
}

/* Object.html */

.product_list{
    margin-left: -0.6%;
    margin-right: -1%;
}
.product_list li {
    width: 48%;
    display: inline-block;
    margin: 0 10px;

}
.product_list .product_listArray{
    position: relative;
    text-align: center;

}

.product_list img {
    width: 100%;
    box-sizing: border-box;
}
.product_list .product_info ul{
    margin: 0 auto;
    line-height: 14px;
    text-align: left;
}
.product_list .product_info ul li a{
    font-size: 10px;
}


/* object_detail */



.contents {
    clear: both;
    position: relative;
    width: 80%;
    margin: 0 auto;
    vertical-align: top;
    min-height: 500px;
}
.over_info{
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.over_info .over_picture {
    position: relative;
    float: left;
    width: 60%;
}
.over_info .over_picture .thumbnail{
    position: relative;
    width: 100%;
    max-width: 600px;
    text-align: left;
}
.over_info .over_picture .thumbnail img {
    max-width: 100%;
}

.over_detailArea {
    position: relative;
    float: right;
    width: 38%;
}
.over_detailArea .infoArea{
    position: relative;
    text-align: right;
}
.infoArea li {
    position: relative;
    display: block;
}
.infoArea li.name p {
    display: inline-block;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    font-size: 14px;
    margin-bottom: 15px;
}
.infoArea li.name .delivery {
    display: none;
}

.infoArea li pre{
    font-family:'Noto Serif KR', serif;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    padding: 15px 0 30px;
}
.infoArea li.ProductPrice {
    font-size: 14px;
    z-index: 1;
}
.infoArea li.price_sale{
    display: none;
    font-size: 14px;
    background: #fff;
    margin-top:-18px;
    z-index:10;
}


#prdDetail {
    margin: 60px 0;
    line-height: 18px;
    text-align: center;
   
}

#prdDetail .cont .longImages img{
    margin-top: 100px;
    width: 800px;
    
}
/*  Q & A */

.qnaclass_container h2{

    margin : 50px 10px;
    
}
.qna_container{
    position: relative;
    border: 1px solid #ddd;
    margin: 0 auto ;
    width: 70%;
    line-height: 180%;
    font-size:11px;
    font-family: 'Noto Serif KR', serif;
}


.board_wrap{
    position: relative;
    width: 92%;
    margin: 40px auto;
}
.board_top{
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
    vertical-align: bottom;
    font-size: 15px;
    font-weight: bold;
}
.board_detail{
    padding:80px 0;
    font-size: 12px;
    text-align: center;
}
.board_detail p strong {
    font-size: 13px;
}
#changeid{
    margin: 80px auto 30px;
}
